@model ReportsVm

@{
  ViewData["Title"] = $"[{Model.CurrentPage}] Reports";
}

<div class="card card-body mt-3 mb-2" style="display: flex; flex-direction: row; align-items: center; gap: 15%;">
  <input class="form-control f20" style="border-radius: 20px; border-color: lightgrey; width: 75%;" placeholder="Search..."/>
  <a href="#" style="width: fit-content;">Order By</a>
</div>

<div class="card card-body">
  @foreach (Report report in Model.Reports)
  {
    <a class="mb-1" asp-action="GetById" asp-route-reportId="@report.Id" style="text-decoration: none; color: black;">
      <div class="card card-body" style="display: block;">
        <h4 class="mb-0">Report #@report.Id</h4>
        <span class="mb-0">Room [@report.Room.RoomNumber]</span>
        <span class="mb-0" style="opacity: .6 ;">Assigned: none</span>
        <hr class="mt-1 mb-1"/>
        <p>@report.Description</p>
        <span style="opacity: .5;">Reported at @report.ReportedAt.ToShortDateString() @report.ReportedAt.ToShortTimeString()</span>
      </div>
    </a>
  }

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
      @for (int currentPage = Model.LowBorder; currentPage < Model.TopBorder; currentPage++)
      {
        <button type="button" class="btn btn-secondary">@currentPage</button>
      }
    </div>
  </div>
</div>